<div class="modal fade" id="DetailMissionAdmins" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ミッション参加者の編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mb-4">
            <label class="col-form-label">ミッション参加者</label>
            <table id="MissionAdmins" class="table table-responsive">
              <tbody id="MissionAdminsTB">

              </tbody>
            </table>
          </div>
          <hr>
          <div class="form-group">
            <label for="AddMissionAdmin" class="col-form-label">招待</label>
            <div class="input-group mb-3">
              <input id="AddMissionAdmin" type="text" class="form-control" placeholder="ユーザー名">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="ToAddMissionAdmin">招待</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
