<div class="container">
  <% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% elsif alert and controller.controller_name != "sessions"%>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <% end %>
</div>
