/*
 *= require_tree .
 *= require_directory .
 *= require_self
 */

 /**************************************
 *	Reset
 *************************************/
 ul {
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: left;
   list-style: none;
   overflow: hidden;
 }

 img {
   width: 100%;
 }

 table {
   width: 100%;
 }

 th {
   color: #5b5b64;
 }

 td {
   color: #5b5b64;
 }

 /**************************************
 *	Body
 *************************************/
 body {
   font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
 }

 /**************************************
 *	Text
 *************************************/
 a {
   text-decoration: none;
   font-size: 15px;
   color: #5b5b64;
 }

 a:hover {
   text-decoration: underline;
 }


 a.no_decoration:hover {
   text-decoration: none;
 }

 p {
   margin: 0;
   font-size: 15px;
   color: #5b5b64;
 }

 h1,h2,h3,h4,h5 {
   margin: 0;
   padding: 0;
 }

 i {
   font-size: 15px;
 }
