<div class="main">
	<div class="container">
		<h2 class="border-bottom border-white mb-4">管理者追加</h2>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">新しい管理者のユーザ名を入力してください</h5>
				<%= form_tag(:mission_add_admin_update, method: "put") do %>
					<%= label_tag(:admin, "新管理者")%>
					<%= text_field_tag(:admin)%>
					<%= submit_tag("追加") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
