
<div class="main">
	<div class="container">
		<div class="page-header">
			<h2>管理者追加</h2>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>新しい管理者のユーザ名を入力してください</p>
			</div>
			<div class="panel-body">
				<%= form_tag(:mission_add_admin_update, method: "put") do %>
					<%= label_tag(:admin, "新管理者")%>
					<%= text_field_tag(:admin) %>
					<%= submit_tag("追加") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
